@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.stats-main {
  width: 100%;
  height: 100vh;
  padding: 50px;
  background-color: #f8f9fa;
  text-align: center;
}

.numbers {
  margin: 100px auto 0;
  padding: 30px;
  box-shadow: 0px 0.4px 0px 0.5px rgb(105, 102, 102);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  max-width: 1200px;
}

.p1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.stats-number {
  margin-left: 20px;
}

.logo img {
  width: 50px;
  height: 50px;
}

.stat-number {
  text-align: left;
  font-weight: bolder;
  font-size: 24px;
  color: #333;
  transition: all 0.3s ease-in-out;
}

/* Tablet View */
@media (max-width: 768px) {
  .numbers {
    margin: 50px auto;
    padding: 20px;
  }

  .p1 {
    padding: 10px;
  }

  .stats-number {
    font-size: 16px;
  }

  .stat-number {
    font-size: 20px;
  }

  .logo img {
    width: 40px;
    height: 40px;
  }
}

/* Mobile View */
@media (max-width: 480px) {
  .numbers {
    margin: 20px auto;
    padding: 10px;
  }

  .p1 {
    padding: 5px;
  }

  .stats-number {
    font-size: 14px;
  }

  .stat-number {
    font-size: 18px;
  }

  .logo img {
    width: 35px;
    height: 35px;
  }
}
